<ion-view view-title="Home">
  <ion-content>
    <button class="button button-block button-positive" on-touch="onCamera()" >
      Camera - ok
    </button>

    <button class="button button-block button-positive" on-touch="onPlayStopAudioFirabase()" >
      {{tocando ? 'Para' : 'Tocar'}} audio firebase - ok
    </button>

    <button class="button button-block button-positive"
      on-hold="onRecordHolder()"
      on-release="onRecordRelease()">
      {{gravando ? 'Gravando...' : 'Gravar'}}
    </button>

    <button class="button button-block button-positive" on-touch="onPlayRecord()" >
      Reproduzir gravação
    </button>

    <button class="button button-block button-positive" on-touch="onPlayM4A()" >
      Reproduzir gravação M4A
    </button>

    <button class="button button-block button-positive" on-touch="onPlay3GP()" >
      Reproduzir gravação 3GP
    </button>

    <p><img id="myImage" style="width: 100%"></p>
  </ion-content>
</ion-view>
