<ion-view view-title="Home">
  <ion-content>
    <button class="button button-block button-positive" ng-click="onCamera()" >
      Camera - ok
    </button>

    <button class="button button-block button-positive" ng-click="onPlayStopAudioFirabase()" >
      {{tocando ? 'Para' : 'Tocar'}} audio firebase - ok
    </button>

    <button class="button button-block button-positive"
      on-hold="onRecordHolder()"
      on-release="onRecordRelease()">
      {{gravando ? 'Gravando...' : 'Gravar'}}
    </button>

    <button class="button button-block button-positive" ng-click="onPlayRecord()" >
      Reproduzir gravação
    </button>

    <button class="button button-block button-positive" ng-click="onPlayM4A()" >
      Reproduzir gravação M4A
    </button>

    <button class="button button-block button-positive" ng-click="onPlay3GP()" >
      Reproduzir gravação 3GP
    </button>

    <button class="button button-block button-positive" ng-click="onFirebaseTest()" >
      Firebase login
    </button>

    <button class="button button-block button-positive" ng-click="onFirebaseLogout()" >
      Firebase logout
    </button>

    <button class="button button-block button-positive" ng-click="onFirebaseChangePass()" >
      Firebase change password
    </button>

    <p><img id="myImage" style="width: 100%"></p>
  </ion-content>
</ion-view>
