<ion-view view-title="Playlists">
  <ion-content>

    <button class="button button-block button-positive" on-touch="onCamera()" >
      Camera
    </button>

    <button class="button button-block button-positive" on-touch="onTocarAudio()" >
      Tocar audio firebase
    </button>

    <button class="button button-block button-positive" on-touch="onPararAudio()" >
      Parar audio firebase
    </button>

    <button class="button button-block button-positive" on-touch="onGravar1()" >
      Gravar teste 1
    </button>


    <button class="button button-block button-positive" on-hold="onHold()" on-release="onRelease()">
      {{txtBtnGravando}}
    </button>

    <button class="button button-block button-positive" on-touch="onTouch()">
      Tocar
    </button>

    <p><img id="myImage" src="" alt=""></p>
  </ion-content>
</ion-view>
